[
 ;; position
 {:db/id #db/id [:db.part/db]
  :db/ident :position/value-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
  {:db/id #db/id [:db.part/db]
  :db/ident :position/account
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :position/value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one}
 {:db/id #db/id [:db.part/db]
  :db/ident :position/quote
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}

 ;; instrument
 {:db/id #db/id [:db.part/db]
  :db/ident :instrument/reference
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/unique :db.unique/identity
  :db/fulltext true
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :instrument/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/many
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 ;; quote
 {:db/id #db/id [:db.part/db]
  :db/ident :quote/instrument
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :quote/bid
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :quote/offer
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
  :db/ident :quote/at
  :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
 :db/ident :quote/type
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/index true

 :db.install/_attribute :db.part/db}

;; portfolio
 {:db/id #db/id [:db.part/db]
  :db/ident :portfolio/reference
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/unique :db.unique/identity
  :db/fulltext true
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :portfolio/position
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :portfolio/portfolios
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :portfolio/vfunc
  :db/valueType :db.type/fn
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

;; vfuncs
{:db/id #db/id [:db.part/db]
 :db/ident :vfuncs/valuable
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/index true
 :db/unique :db.unique/identity
 :db.install/_attribute :db.part/db}
{:db/id #db/id [:db.part/db]
 :db/ident :vfuncs/function
 :db/valueType :db.type/fn
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

;; account
 {:db/id #db/id [:db.part/db],
  :db/ident :account/reference,
  :db/valueType :db.type/string,
  :db/cardinality :db.cardinality/one,
  :db/index true,
  :db/unique :db.unique/identity
  :db/fulltext true,
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db],
  :db/ident :account/tag,
  :db/valueType :db.type/ref,
  :db/cardinality :db.cardinality/one,
  :db/index true,
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db],
  :db/ident :account/instrument,
  :db/valueType :db.type/ref,
  :db/cardinality :db.cardinality/one,
  :db/index true,
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db],
  :db/ident :account/balance,
  :db/valueType :db.type/bigdec,
  :db/cardinality :db.cardinality/one,
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db],
  :db/ident :account/min-balance,
  :db/valueType :db.type/bigdec,
  :db/cardinality :db.cardinality/one,
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db],
  :db/ident :account/max-balance,
  :db/valueType :db.type/bigdec,
  :db/cardinality :db.cardinality/one,
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db],
  :db/ident :account/transactions,
  :db/valueType :db.type/ref,
  :db/cardinality :db.cardinality/many,
  :db.install/_attribute :db.part/db}

 ;; operational transactions
 { :db/id #db/id[:db.part/db]
  :db/ident :ot/note
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An note about what was transfered"
  :db.install/_attribute :db.part/db}

 { :db/id #db/id[:db.part/db]
  :db/ident :ot/amount
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "Amount transacted"
  :db.install/_attribute :db.part/db}

 { :db/id #db/id[:db.part/db]
  :db/ident :ot/txtype
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "classification of transaction"
  :db.install/_attribute :db.part/db}

 { :db/id #db/id[:db.part/db]
  :db/ident :ot/dr
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Transferee"
  :db.install/_attribute :db.part/db}

 { :db/id #db/id[:db.part/db]
  :db/ident :ot/cr
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Recipient"
  :db.install/_attribute :db.part/db}

 ;; account tags

 [:db/add #db/id [:db.part/user] :db/ident :account.tag/avail]
 [:db/add #db/id [:db.part/user] :db/ident :account.tag/reserved]

 ;; tx types

 [:db/add #db/id [:db.part/user] :db/ident :ot.txtype/capital]
 [:db/add #db/id [:db.part/user] :db/ident :ot.txtype/interest]
 [:db/add #db/id [:db.part/user] :db/ident :ot.txtype/divedend]

;; instrument
[:db/add #db/id [:db.part/user] :db/ident :account.instrument/p1]

;; quote type
[:db/add #db/id [:db.part/user] :db/ident :quote.type/closing]
]
